---
import "../../../../styles/auth.css";
import EmptyLayout from "../../../../layouts/EmptyLayout.astro";
import InputPassword from "@/components/input/InputPassword.astro";
import InputEmail from "@/components/input/InputEmail.astro";
---

<EmptyLayout>
  <div class="page-wrapper">
    <div class="container">
      <h2 class="text-center">Login</h2>
      <form action="submit">
        <InputEmail />
        <InputPassword client:load />
        <button class="submit-btn" type="submit"> Login </button>
      </form>
      <a class="text-center" href="/user/auth/register"
        >Don't have a account yet?<span class="border-bottom">Register</span></a
      >
    </div>
  </div>
</EmptyLayout>
