---
import { getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import DeleteRecipeBtn from "@/components/myRecipes/DeleteRecipeBtn.astro";
import type { ApiResponse, RecipeDateTypeResponse } from "@/types";

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/404");
}

const post = await getEntry("recipe", slug);

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await render(post);

const apiUrl = new URL(
  `/api/recipe/getRecipeBySlug?slug=${slug}`,
  Astro.url.origin,
);
const response = await fetch(apiUrl);

if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);

const { data: recipe } = await response.json();
console.log(recipe);
---

<BaseLayout>
  <div class="content-container">
    <div class="content-wrapper">
      <DeleteRecipeBtn recipeId={recipe.id} />
      <Content />
    </div>
  </div>
</BaseLayout>

<style>
  .content-container {
    min-height: 100vh;
    width: 80vw;
    background-color: whitesmoke;
    margin: auto;
    padding: 2rem;
  }

  .content-wrapper {
    width: fit-content;
    margin: auto;
  }
</style>
