.page-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.submit-btn {
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
  border: none;
  background: #e0f28d;
  background: linear-gradient(
    nulldeg,
    rgba(224, 242, 141, 1) 71%,
    rgba(141, 242, 217, 1) 100%
  );
}

.border-bottom {
  border-bottom: 1px solid black;
}
