:root {
  --primary: #f85e00;
  --text-primary: black;
  --red-accent: #a41623;
  --light-bg: #f4e0b0;
  --text-white: white;
  --text-gray: rgb(68, 63, 63);
  --text-black: black;
  --text-red: #a41623;
  --border-primary: rgb(189, 186, 186);
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(250, 246, 246);
  font-family: "sans-serif";
  font-style: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-align-center {
  text-align: center;
}

/* Font colors */

.text-gray {
  color: var(--text-gray);
}
.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-red {
  color: var(--text-red);
}

/* Font sizes */
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* Font style */

.bold {
  font-weight: 700;
}

.btn {
  color: white;
  background-color: var(--red-accent);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  cursor: pointer;
}
